.signupConatinerWrapper {
    width: 100%;
    height: 100vh;
    background: -webkit-radial-gradient(top right, rgba(36, 1, 68, 1) 0%, rgba(105, 149, 151, 1) 51%, rgba(210, 236, 240, 1) 100%);
    background: radial-gradient(at top right, rgba(36, 1, 68, 1) 0%, rgba(105, 149, 151, 1) 51%, rgba(210, 236, 240, 1) 100%);
    animation: colorChange 8s infinite alternate linear;
}

.signupFormWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .signupForm {
        width: 410px;
        height: 100%;
        padding-top: 30px;

        .signupText {
            p {
                font-family: "Jeko_Bold";
                font-size: 50px;
                margin: 0;
                padding: 0;
                line-height: 45px;

                background: #189894;
                background: linear-gradient(to right, #189894 0%, #DFB567 50%, #086165 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;

                &::first-letter {
                    font-size: 60px;
                }
            }

            span {
                font-family: 'Nunito', sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: #1E9992;
            }

            a {
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                font-size: 20px;
                color: #309B8F;
                text-decoration: none;
            }
        }

        .signUpFields {
            width: 100%;
            margin-top: 30px;

            .userNamingWrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        .processButton {
            width: 100%;
            height: auto;
            margin-top: 20px;
        }

        .brandsProcessingButtons {
            width: 100%;
            margin-top: 30px;
        }
    }
}

.emailVerifyContent {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #189894;
    font-family: "Jeko_Bold";
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 50px;

    p {
        margin: 0; 
        padding: 0;
    }
}

@keyframes colorChange {
    from {
        background-position: left top;
        background-size: 150% 100%;
    }

    49.9% {
        background-position: left top;
    }

    50% {
        background-size: 100% 100%;
    }

    50.1% {
        background-position: right top;
    }

    to {
        background-position: right top;
        background-size: 200% 100%;
    }
}