.locationSelector{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: 25px !important;

    :global {
        .MuiFormControl-root {
            width: 100%;
            .MuiFormLabel-root {
                opacity: 1;
                color: #189894;
                font-family: 'Nunito', sans-serif;
                font-weight: 400;
                font-size: 15px;
                transform: translate(10px, 16px) scale(1) !important;
                &.Mui-focused{
                    opacity: 0;
                }
                &.MuiFormLabel-filled {
                    opacity: 0;
                }
            }

            label + .MuiInput-formControl {
                margin-top: 0;
            }

            .MuiInputBase-root {
                .MuiSelect-root {
                    font-family: 'Nunito', sans-serif;
                    font-weight: 400;
                    border: 1px solid #189894;
                    color: #189894;
                    padding-left: 10px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    border-radius: 5px;
                }

                .MuiSvgIcon-root {
                    color: #189894;
                }
            }
        }
    }
    i {
        margin-left: 10px;
        margin-top: 0 !important;
        cursor: pointer;
        color: #189894;
        font-size: 20px;
    }   
}