.adminPanelWrapper {
    width: 93%;
    float: right;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;

    .adminBlocks {
        p {
            margin-top: 10px;
            font-size: 30px;
            font-family: "Jeko_Bold";
        }

        .listWrapper {
            width: 100%;
            height: 700px;

            .cardsListWrapper {
                margin: 0 auto;
                width: 1050px;
                height: 90%;
                overflow-x: hidden;
                overflow-y: auto;

                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                &::after {
                    content: '';
                    width: 300px;
                }

                .photo {
                    width: 30%;
                    height: 400px;
                    border-radius: 14px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    box-shadow: 0px 4px 60px -28px rgba(0, 0, 0, 0.25);
                    margin-bottom: 3vh;
                }
            }
        }
    }
}

.photoInfo {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    opacity: 0;
    background-color: #002C45;
    position: relative;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    .bottomIcons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        position: absolute;
        bottom: 1.5vh;
        left: 0;
    }

    i {
        display: block;
        color: white;
        font-size: 25px;
        margin-bottom: 0.5vh;
    }

    .iconInfo {
        width: 5vw;
        text-align: center;
        font-family: 'Jeko_Bold';
        font-style: normal;
        font-weight: 400;
        font-size: 1vw;
        color: white;
    }
}

.userPostWrapper {
    width: 500px;
    height: 250px;
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;

    &:hover {
        .likesCommentInfo {
            transform: translateX(10px) !important;
            opacity: 1 !important;
        }

        .backgroundImage {
            filter: brightness(43%) blur(12px);
            -webkit-filter: brightness(43%) blur(12px);
            -moz-filter: brightness(43%) blur(12px);
        }
    }

    .userPostInfo {
        width: 475px;
        height: 100%;
        border-radius: 15px;
        position: relative;
        top: 0;
        left: 0;

        padding: 10px;

        z-index: 2;

        .header {
            width: 100%;
            height: auto;

            p {
                font-family: "Jeko_Bold";
                font-size: 20px;
                color: white;
            }
        }

        .description {
            width: 100%;
            height: 150px;

            p {
                font-family: "Jeko_Bold";
                font-size: 15px;
                color: white;
            }
        }

        .likesCommentInfo {
            width: 300px;
            height: 75px;
            float: right;

            display: flex;
            justify-content: center;

            transition: .3s;
            opacity: 0;
            transform: translateY(100px);

            .iconInfo {
                display: flex;
                flex-direction: column;
                width: 150px;
                text-align: center;
                font-family: 'Jeko_Bold';
                font-style: normal;
                font-weight: 400;
                font-size: 1vw;
                color: white;
                cursor: pointer;
            }
        }
    }

    .backgroundImage {
        transition: .3s;
        margin-top: -270px;
        z-index: 1;
        width: 100%;
        height: 100%;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        background-size: cover;
        background-repeat: no-repeat;
    }
}